<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h1 class="nav-title">{{ site.title }}</h1>
    </a>
      
      {% unless page.layout == 'front' %}
        <ul class="navigation">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'current' %}
            {% endif %}

            <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
              <a class="{{ current }}" href="{{ link.url }}">{{ link.text | prepend: site.baseurl }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endunless %}
    
    <!--<ul>

      <li><a href="{{ '/cv' | prepend: site.baseurl }}/">CV</a></li>
      <li><a href="{{ '/publications' | prepend: site.baseurl }}/">Publications</a></li>
      <li><a href="{{ '/lectures' | prepend: site.baseurl }}/">Lectures</a></li>    
      <li><a href="{{ '/contact' | prepend: site.baseurl }}/">Contact</a></li>    
      
      <li><a href="{{ '/about' | prepend: site.baseurl }}/">About</a></li>
        <li><a href="{{ site.baseurl }}/">Posts</a></li>
        <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    <h3>Architectural historian</h3>
    </ul>
      -->


  </div>


</nav>
